[Unit]
Description=Spring Boot Web Application
After=postgresql.service

[Service]
User=csye6225
Group=csye6225
Type=simple

EnvironmentFile=/etc/environment

WorkingDirectory=/opt/webapp
ExecStart=/usr/bin/java -jar /opt/webapp/webapp-0.0.1-SNAPSHOT.jar

StandardOutput=append:/var/log/webapp/application.log
StandardError=append:/var/log/webapp/application.log

SuccessExitStatus=143
TimeoutStopSec=10
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target

